<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.backendless.hk3.login"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.backendless.hk3.login.permission.C2D_MESSAGE" />

    <permission
        android:name="com.backendless.hk3.login.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.backendless.push.BackendlessBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.backendless.hk3.login" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchableActivity" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordRecoveryRequestedActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegistrationSuccessActivity" />
        <activity android:name=".RestorePasswordActivity" />
        <activity android:name=".LoginSuccessActivity" />
        <activity android:name=".kitchen.CreateKitchenActivity" />
        <activity android:name=".kitchen.CreateOrEditDishActivity" />
        <activity android:name=".kitchen.KitchenHomeActivity" />
        <activity android:name=".kitchen.NotKitchenOwnerActivity" />


        <activity
            android:name=".kitchen_list.KitchenHomepageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/HomePageTheme">
            <meta-data
                android:name="android.HK3-Login.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".kitchen_list.SearchableActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".kitchen_list.KitchenHomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".kitchen_list.KitchenHomepageActivity" />
        </activity>

        <activity
            android:name=".kitchen_list.FollowedKitchenActivity"
            android:parentActivityName=".kitchen_list.KitchenHomepageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".kitchen_list.KitchenHomepageActivity" />
        </activity>


        <activity android:name=".placingorder.PlacingOrderActivity" />
        <activity android:name=".placingorder.OrderConformationActivity" />
        <activity android:name=".placingorder.OrderHistoryActivity" />

        <service android:name="com.backendless.AndroidService" />

        <activity android:name=".utility.ActionBarActivity"></activity>
    </application>

</manifest>